<!doctype html>
<html>
  <head>
    <title><%=shopName%> Login</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Login page</h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id="first" type="text" name="first" value="Username" /></p>
        <p>Password: <input id="last" type="text" name="last" value="Password" /></p>
        <input type="submit" value="Login" />
    </form>
  </body>
</html>


    
